<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BookFlights :: {% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
	<div class="main">
		<div class="header">
			<div class="logo">
				<div class="logo_text">
					<h1><a href="index.html">BookFlights</a></h1>
					<h2>Мы упростим Вашу жизнь!</h2>
				</div>
			</div>

			<div class="menubar">

				<ul class="menu">
					<li class="selected"><a href="/">Главная</a></li>
					<li><a href="/booking/">Бронирование</a></li>
					{% if user.is_authenticated %}
					<li>{{ user.username}}</li>
					<li><a href="{% url 'logout' %}">Выйти</a></li>
					<li><a href="{% url 'change_password' %}">Изменить пароль</a></li>
					{% else %}
					<li><a href="{% url 'login' %}">Войти</a></li>
					<li><a href="{% url 'signup' %}">Зарегистрироваться</a></li>
      				{% endif %}
					{% if user.is_staff %}
					<li><a href="/admin/">Управление сайтом</a></li>
					{% endif %}
				</ul>

			</div>
		</div>

    {% block content %}
    {% endblock %}


	</div>
	<div class="footer">
		<p>
			<a href="/">Главная</a> |
			<a href="/booking/">Бронирование</a>
		</p>
	</div>
</body>


</html>