{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Booking{% endblock %}
{% block page_name %}Бронирование билетов{% endblock %}


{% block content %}
<p>
  <b>Бронирование билетов.</b>
</p>

<form id='booking' method="get" action="{% url 'booking' %}">
  {{form.as_p}}
  <button type="submit">Забронировать</button>
</form>

<div>

  {% for plane in object_list %}

  <div style="background: #4682B4; width: 200px">
    <div><span>{{plane.dep_station}} - {{plane.arr_station}}({{plane_num}})</span></div>
    <div>
      <ul>
        <li class="li--{{plane.dep_time}}">{{plane.dep_time}}</li>
        <li class="li--{{plane.arr_time}}">{{plane.arr_time}}</li>
        <li class="li--{{plane.comfort_type}}">{{plane.comfort_type}}</li>
      </ul>
    </div>
    {% if user.is_authenticated %}
    <a href="{% url 'plane-detail' pk=plane.pk %}"><button type="submit">Забронировать</button></a>
    {% endif %}

  </div>

  {% endfor %}

</div>

{% endblock %}