<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BookFlights :: {% block title %}XXX{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="main">

		<div class="header">
			<div class="logo">
				<div class="logo_text">
					<h1><a href="index.html">BookFlights</a></h1>
					<h2>Мы упростим Вашу жизнь!</h2>
				</div>
			</div>

			<div class="menubar">

				<ul class="menu">
					<li class="selected"><a href="#">Главная</a></li>
					<li><a href="#">Авиакомпании</a></li>
				</ul>

			</div>
		</div>

    {% block content %}
    {% endblock %}

		<div class ="site_content">

			<div class="book_form">


			</div>

		</div>
		</div>
</body>
</html>